<!DOCTYPE HTML>
<!--未加入Bootstrap的两行链接---->
<html lang="en" xmlns="http://www.w3.org/1999/html" style="text-align: center" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>首页</title>
	<link href="static/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/stylesheets/common.css" rel="stylesheet" type="text/css" media="screen">
    <link href="static/stylesheets/index.css" rel="stylesheet" type="text/css">
    <link href="static/stylesheets/exper0.css" rel="stylesheet" type="text/css" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="static/javascripts/laydate/laydate.js"></script>
	  <script src="/jquery/dist/jquery.js"></script>

      <style type="text/css">
       .menu{

         height: 54px;
       }
      #menuExp:hover {
      height: 54px;
      }
      #menuReport:hover {
           height: 54px; 
      }
     </style>
</head>

<!--加上auto居中-->
<body onload="updateFrequencyValue();">

<div id="top" align="center"  style="background:url(static/images/common/top.png);">

	<li id="menuLesson" class="menu">
		<a href="#">系统简介</a>
	</li>
	<li id="menuExp" class="menu">
    <a href="/indicator">实时测量</a>
	</li>
	<li id="menuReport" class="menu">
    <a href="/revise">远程校正</a>
	</li>
	<li class="menu">
		<a href="/manage">后台管理</a>
	</li>
	<div id="userName">
        <a href="#">
            admin
        </a>
        &nbsp;
        <a href="/logout">安全退出</a>
    </div>
    <a href="/" target="_blank">
        <div align="center"></div>
    </a>
</div>

<!---->
<div style="font-size: 150%;margin-top:15px ;margin-left: 150px;font-family: Microsoft YaHei"><b>实时数据</b></div>

<div id = "realtime">
  <div id="voltage" style="margin-left: 1px;display:inline-block;margin-top:10px">          
      <p style = "display:inline-block;margin-top:20px;font-size: 150%;font-family:Microsoft YaHei">交流电压</p>
      <div id = "measureborder" style="display:inline-block;width:184px;height:80px;margin-bottom:20px;margin-left:2px;border:1px solid black">
          <div style = "text-align:center;margin-top: 19px">
              <span id="measureValue" style = "font-size:160%">12.306KV</span>
          </div>
      </div>
  </div>
  <div style="display:inline-block;vertical-align: top;margin-left:20px;margin-top: 7px;font-size: 140%;font-family: Microsoft YaHei;">
        <span id="wavepar">失真度 :</span></br></br>
        <span>频率 :</span></br>
  </div>
  
  <div style="display:inline-block;vertical-align: top;margin-left:1px;margin-top: 7px;font-size: 140%;font-family: Microsoft YaHei;">
        <span id="waveval">0.05%</span></br></br>
        <span>50HZ</span></br>
  </div>
  <div style="display:inline-block;vertical-align: top;margin-left:40px;margin-top: 7px;font-size: 140%;font-family: Microsoft YaHei;">
        <span >标称值 :</span></br></br>
        <span>误差 :</span></br>
  </div>
  <div style="display:inline-block;vertical-align: top;margin-left:1px;margin-top: 7px;font-size: 140%;font-family: Microsoft YaHei;">
        <span id="waveVal">12.000KV</span></br></br>
        <span id="measureError">0.30600KV</span></br>
  </div>
  <div style="display:inline-block;vertical-align: top;margin-left:40px;margin-top: 7px;font-size: 140%;font-family: Microsoft YaHei;">
        <span >上限值 :</span></br><br>
        <span>下限值 :</span></br>
  </div>
  <div style="display:inline-block;vertical-align: top;margin-left:1px;margin-top: 7px;font-size: 140%;font-family: Microsoft YaHei;">
        <span id="upLimit">12.200KV</span></br></br>
        <span>11.800KV</span></br>
  </div>
  <div style="display:inline-block;margin-left:370px;font-size: 130%;font-family: Microsoft YaHei;">
        <button id="buttonStart" class="btn-lg btn-default" style="width:120px">开始</button>
  </div>
  <div style="display:inline-block;margin-left:70px;font-size: 130%;font-family: Microsoft YaHei;">
        <button id="buttonStop" class="btn-lg btn-default" style="width:120px">停止</button>
  </div>
</div>

<!--hichart曲线-->
<div id="charts">
    <div id="divChartWeight">
    </div>

    <div id="divChartVortex">
        <!--涡街流量曲线在此-->
    </div>
    <div id="container" style="width: 500px; height: 300px;float:left">
    曲线
    </div>
    <div id="container2" style="width: 500px; height: 300px;float:left">
    曲线
    </div>

    <div id="divDataRecord">
        <h1 align="center" id="divDataRecordH">测量数据记录</h1>
        <div id = "divDataTable" align="left">
            <table id="tableDataRecord" align="left" border="1">
                <tr class="fontWeight">
                    <td align="center">序号</td>
                    <td align="center">时间</td>
                    <td align="center">结果</td>
                    <td align="center">模式</td>
                </tr>
            </table>
        </div>

        <button id="buttonStartRecord" class="btn-lg btn-default">保存记录</button>
        <button id="buttonClearRecord" class="btn-lg btn-default">清空表格</button>

        <div id="sampleInterval">采样间隔</div>
        <input id="inputSampleInterval" onkeyup="recordIntervalChange()" type="text" value="1"/>  <!--键盘按键被松开时触发-->
        <div id="sampleIntervalUnit">s</div>

        <button id="buttonPauseGraph" class="btn-lg btn-default">暂停曲线</button>
    </div>
</div>



<hr>
<!--表格-->
<div style="font-size: 150%;margin-left: 150px;font-family: Microsoft YaHei"><b>历史查询</b></div>
<div style="display:inline-block;width:30%">
  <div>
      
      <table id = "table_id" class="table table-striped" style="text-align: center;">
      <thead>
        <tr border="1">
          <td class="fontWeight">模式</td>
          <td class="fontWeight">时间</td>
          <td class="fontWeight">结果</td>
          <td class="fontWeight">分选</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
      </table>
    </div>
</div>
<div id="select" style = "display:inline-block;margin-left: 30px">
    <p><input type="radio" name="selectImg" id="barshow"  value="bar">柱状图  &nbsp; <input type="radio" checked="checked" name="selectImg" id="pieshow" value="pie"> 饼状图 &nbsp;<input type="radio" name="selectImg" id="errorshow" value="error"> 概率分布 &nbsp;<br></p>
    <p><label for="meeting">开始时间</label></p>
    <p><input onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="2016-06-27 15:25:27"></p>
    <p><label for="meeting">结束时间</label></p>
    <p><input onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="2016-06-28 19:00:00"></p>
    <p><input type="checkbox" id="VDC" value="VDC">VDC  &nbsp; <input type="checkbox" id="VAC" value="VAC"> VAC &nbsp; <input type="checkbox" id="IDC" value="IDC"> IDC <input type="checkbox" id="IAC" value="IAC"> IAC <br></p> 
    <p><button onclick="displayResult()" type="button" class="btn btn-default">查询</button></p>  
</div>
<div id ="container_PIE" style="display:inline-block;float:right;margin-top:30px;margin-right:30px;">
    <div id="container_IDC" style="width: 200px; height: 200px;display:inline-block;"></div>
    <div id="container_IAC" style="display:inline-block;width: 200px; height: 200px;"></div>
    <div id="container_VDC" style="width: 200px; height: 200px;float: left"></div>
    <div id="container_VAC" style="width: 200px; height: 200px;float: left"></div>
</div>

<div id="container_BAR" style="width: 500px; height: 300px; display:inline-block;display:none;margin-right: 180px;float: right"></div>
<div id="container_Hist" style="width: 600px; height: 320px; display:inline-block;display:none;margin-right: 120px;float: right">
</div> 

<span id = "Average" style="position:absolute;display:none;left:1436px; top:657px;">平均值:12.001</span>
<span id = "Deviation" style="position:absolute;display:none; left:1436px; top:680px;">标准差:0.51</span>

<div id="bottom" align="center">
    <div class="all">
        <div class="b_text">
            <h6>介绍</h6>
            <ul>
                <li><a href="#">关于我们</a></li></br>
                <li><a href="#">联系我们</a></li></br>
                <li><a href="#">加入我们</a></li></br>
                <li><a href="#">技术支持</a></li></br>
            </ul>
        </div>
        <div class="b_text">
            <h6>合作</h6>
            <ul>
                <li><a href="#">新加仪器</a></li>
                <li><a href="#">高校合作</a></li>
                <li><a href="#">友情链接</a></li>
            </ul>
        </div>
        <div class="b_text">
            <h6>服务</h6>
            <ul>
                <li><a href="#">在线测量</a></li>
                <li><a href="#">注册登录</a></li>
                <li><a href="#">统计分析</a></li>
                <li><a href="#">常见问题</a></li>
            </ul>
        </div>
        <div class="b_text">
            <h6>学习路径</h6>
            <ul>
                <li><a href="#">原理介绍</a></li>
                <li><a href="#">系统介绍</a></li>
                <li><a href="#">经典案例</a></li>
            </ul>
        </div>
    </div>
  <!--<div class="power">COPYRIGHT@2016-2018 南京长胜仪器有限公司</div>-->
</div>


<script language="JavaScript">
function displayResult(){
  var radios = document.getElementsByName('selectImg');
  console.log("test");
  for (var i = 0, length = radios.length; i < length; i++) {
    if (radios[i].checked) {
      // 弹出选中值
      //alert(radios[i].value);
      if(radios[i].value=="bar")
      {
        document.getElementById("Average").style.display="none";
         document.getElementById("Deviation").style.display="none";
        document.getElementById("container_Hist").style.display="none";//隐藏
        document.getElementById("container_PIE").style.display="none";//隐藏
        document.getElementById("container_BAR").style.display="";//显示
      }else if(radios[i].value=="pie")
      {
        document.getElementById("Average").style.display="none";
        document.getElementById("Deviation").style.display="none";
        document.getElementById("container_PIE").style.display="";//隐藏
        document.getElementById("container_BAR").style.display="none";//隐藏
        document.getElementById("container_Hist").style.display="none";//隐藏
      }else if(radios[i].value=="error")
      {
        document.getElementById("Average").style.display="";//显示
        document.getElementById("Deviation").style.display="";//显示
        document.getElementById("container_PIE").style.display="none";//隐藏
        document.getElementById("container_BAR").style.display="none";//隐藏
        document.getElementById("container_Hist").style.display="";//隐藏
      }

      // 选中后退出循环
      break;
    }
  }
}
</script>


<script type=language="JavaScript">
function addMeasureTable(id,time,value,mode){
    //添加表格标题行
    var row = document.getElementById("tableDataRecord").insertRow();
    var cell;
    cell = row.insertCell(-1);
    cell.innerHTML =  id;
    cell.align = "center";

    cell = row.insertCell(-1);
    cell.innerHTML = time;
    cell.align = "center";

    cell = row.insertCell(-1);
    cell.innerHTML = value;
    cell.align = "center";

    cell = row.insertCell(-1);
    cell.innerHTML = mode;
    cell.align = "center";
}
</script>

<script language="JavaScript">
   function setCookie(cname,cvalue,exdays){
      var d = new Date();
      d.setTime(d.getTime()+(exdays*24*60*60*1000));
      var expires = "expires="+d.toGMTString();
      document.cookie = cname+"="+cvalue+"; "+expires;
   }
   function getCookie(cname){
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for(var i=0; i<ca.length; i++) {
         var c = ca[i].trim();
         if (c.indexOf(name)==0) return c.substring(name.length,c.length);
      }
      return "";
   }
   function checkCookie(){
      var latesttime=getCookie("latesttime");
      if (latesttime!=""){
         console.log(latesttime); 
      }
      else {
         latesttime = (new Date()).getTime();
         if (latesttime!="" && latesttime!=null){
            setCookie("latesttime",latesttime,30);
         }
      }
   }
   function add0(m){return m<10?'0'+m:m }
   function format(shijianchuo)
   {
   //shijianchuo是整数，否则要parseInt转换
   var time = new Date(shijianchuo);
   var y = time.getFullYear();
   var m = time.getMonth()+1;
   var d = time.getDate();
   var h = time.getHours();
   var mm = time.getMinutes();
   var s = time.getSeconds();
   return y+'-'+add0(m)+'-'+add0(d)+' '+add0(h)+':'+add0(mm)+':'+add0(s);
   }
   function formatToTamp(stringTime)
   {
      var timestamp = Date.parse(new Date(stringTime));
      return timestamp;
   }
$(document).ready(function() {

Highcharts.setOptions({
    colors: ['#434348', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655',
'#FFF263', '#6AF9C4']
});
Highcharts.setOptions({                                                    
global: {                                                               
   useUTC: false                                                      
}                                                                       
});
 
 var RecordCount=0;
  URL = "http://218.244.147.240";
  PORT = "4020";
   var chart = {                                                                
    type: 'spline',                                                     
    animation: Highcharts.svg, // don't animate in old IE               
    marginRight: 10,                                                    
    events: {                                                           
        load: function() {                                              
                                                                        
            // set up the updating of the chart each second             
            var series = this.series[0];                                
            setInterval(function() {    
            
            var latest_time = getCookie("latesttime");
             console.log(latest_time+"!!!!");
            if(latest_time!=""&&latest_time!=undefined)
            {
                console.log("latest_time is not null");

            }else
            {
               latest_time = format((new Date()).getTime());
               setCookie("latesttime",format((new Date()).getTime()),30);
               console.log("latest_time is null");
            }
            var x = (new Date()).getTime(); // current time                             
                y = Math.random();
            console.log(latest_time);
            $.getJSON("/starttime",{
            latesttime: latest_time,
            b: 12},
            function (result) {

                latest_time = getCookie("latesttime");
                console.log("json test"); 
                var list=result.result;
                console.log(latest_time);
                console.log(list);
                if(latest_time!=""&&latest_time!=undefined)
                {
                   if(list.length!=0)
                   {
                     setCookie("latesttime",list[list.length-1].timestamp,30);//将返回结果中最=大的时间缓存到cookie中，过期时间默认30天
                     for(var i =0;i<list.length;i++)
                     {
                        x = formatToTamp(list[i].timestamp);
                        y = list[i].value;
                        series.addPoint([x, y], true, true);
                        document.getElementById("measureValue").innerText=y+"KV";
                        document.getElementById("measureError").innerText=(y-12).toFixed(3)+"KV";
                        RecordCount=RecordCount+1;
                        
                        //添加表格行
                        var row = document.getElementById("tableDataRecord").insertRow();
                        var cell;
                        cell = row.insertCell(-1);
                        cell.innerHTML =  RecordCount;
                        cell.align = "center";

                        cell = row.insertCell(-1);
                        cell.innerHTML = list[i].timestamp;
                        cell.align = "center";

                        cell = row.insertCell(-1);
                        cell.innerHTML = y+"KV";
                        cell.align = "center";

                        cell = row.insertCell(-1);
                        cell.innerHTML = "VAC";
                        cell.align = "center";

                     }
                   }
                }
                else
                {
                  //cookie为空
                  console.log("starttime is null!!!!");
                  setCookie("latesttime",format((new Date()).getTime()),30);
                  var latest_time = getCookie("latesttime");
                  console.log(latest_time);
                }
             });    
                 
            }, 1000);                                                   
        }                                                               
    }                                                                   
    };

   var title = {
       text: '实时曲线'   
   };
   var subtitle = {
        text: 'realtime curve'
   };
   var xAxis = {
         
            tickInterval: 3800,
            gridLineColor: '#dddfe1',
             gridLineWidth: 1,
            type: 'datetime',                                                   
            tickPixelInterval: 100   
   };
   var yAxis = {
      gridLineColor: '#dddfe1',
       gridLineWidth: 1,
      title: {
         text: '测量结果/KV'
      },
      plotLines: [{
         value: 0,
         width: 1,
         color: '#040000'
      }]
   };
   var colors={
    colors:['#000000','#120000']
   };   

   var tooltip = {
        formatter: function() {                                             
            return '<b>'+ this.series.name +'</b><br/>'+                
            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
            Highcharts.numberFormat(this.y, 2);                         
    }  
   };

   var legend = {
      layout: 'vertical',
      backgroundColor: '#FFFFFF',
      align: 'right',
      verticalAlign: 'top',
      borderWidth:0,
      x:0,
      y:30
   };

   var series =  [
      {                                                              
        name: 'VAC',                                                
        data: (function() {                                                 
            // generate an array of random data                             
            var data = [],                                                              
                time = (new Date()).getTime(),                              
                i;                                                          
                                                                            
            for (i = -19; i <= 0; i++) {                                    
                data.push({                                                 
                    x: time + i * 1000,                                     
                    y: Math.random()                                        
                });                                                         
            } 
                                                                          
            return data;                                                    
           })()                                                                
      }
   ];


   var titlesin = {
       text: '时域波形'   
   };

 var xAxisSin = {
         
            tickInterval: 2,
            gridLineColor: '#dddfe1',
             gridLineWidth: 1,                                                  
            tickPixelInterval: 100,   
            title: {
             text: '时间/ms'
            }
   };
   var yAxisSin = {
         
            title: {
             text: 'Value/KV'
            }
   };
   var legendsin = {
      layout: 'vertical',
      backgroundColor: '#FFFFFF',
      align: 'right',
      verticalAlign: 'top',
      borderWidth:0,
      x:0,
      y:30
   };

      var seriesin =  [
      {                                                              
        name: 'VAC',                                                
        data: (function() {                                                 
            // generate an array of random data                             
            var data = [],                                                  
                time = (new Date()).getTime(),                              
                i;                                                          
                                                                            
            for (i = -0.1; i <= Math.PI*2.5; i+=Math.PI*0.05) {                                    
                data.push({                                                 
                    x: i*10/Math.PI,                                     
                    y: 12*1.414*Math.sin(i)                                        
                });                                                         
            }                                                               
            return data;                                                    
           })()                                                                
      }
   ];

   var json = {};
   var json2 = {};

   json.title = title;
   json.subtitle = subtitle;
   json.xAxis = xAxis;
   json.yAxis = yAxis;
   json.tooltip = tooltip;
   json.legend = legend;
   json.series = series;
   json.chart = chart;
   json.colors = colors;
   json2.xAxis = xAxisSin;
   json2.yAxis = yAxisSin
   json2.title = titlesin;
   json2.series = seriesin;
   json2.legend = legendsin;
   $('#container').highcharts(json);
   $('#container2').highcharts(json2);
});
</script>


<script language="JavaScript">
  for(var i = 0;i<4;i++)
  {
    //添加表格标题行
    var row = document.getElementById("table_id").insertRow();
    var cell;
    cell = row.insertCell(-1);
    cell.innerHTML =  "VDC";
    cell.align = "center";

    cell = row.insertCell(-1);
    cell.innerHTML = "2016-6-28 18:30:"+2*i;
    cell.align = "center";

    cell = row.insertCell(-1);
    cell.innerHTML = "1.500"+i+"2KV";
    cell.align = "center";

    cell = row.insertCell(-1);
    cell.innerHTML = "合格";
    cell.align = "center";
  }
</script>





<!--<div id="container_BAR" style="width: 550px; height: 380px; display:inline-block;margin-left: 50px"></div>-->
<script language="JavaScript">
$(document).ready(function() {

    Highcharts.setOptions({
        colors: ['#7cb5ec', '#434348', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655',
    '#FFF263', '#6AF9C4']
    });  

    Highcharts.setOptions({
      credits:{
                enabled: false
       }
    }); 

   var chart = {
      type: 'column'
   };
   var title = {
      text: '柱状图分布'   
   };
   var subtitle = {
      text: 'Source: runoob.com'  
   };
   var xAxis = {
      categories: ['直流电压','交流电压','直流电流','交流电流'],
      crosshair: true
   };
   var yAxis = {
      min: 0,
      title: {
         text: 'y value'         
      }      
   };
   var tooltip = {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
         '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
   };
   var plotOptions = {
      column: {
         pointPadding: 0.2,
         borderWidth: 0
      }
   };  
   var credits = {
      enabled: false
   };
   
   var series= [{
        name: '合格',
            data: [49.9, 71.5, 76.4,54.4]
        }, {
            name: '不合格',
            data: [50.1, 28.5, 23.6,45.6]
   }];     
      
   var json = {};   
   json.chart = chart; 
   json.title = title;   
   json.subtitle = subtitle; 
   json.tooltip = tooltip;
   json.xAxis = xAxis;
   json.yAxis = yAxis;  
   json.series = series;
   json.plotOptions = plotOptions;  
   json.credits = credits;
   $('#container_BAR').highcharts(json);
  
});
</script>

<script language="JavaScript">
$(document).ready(function() {  
   var chart = {
       plotBackgroundColor: null,
       plotBorderWidth: null,
       plotShadow: false
   };
   var title = {
      text: '直流电压VDC'   
   };  

   var title_VAC = {
      text:'交流电压VAC'
   };

   var title_IDC={
    text:'直流电流IDC'
   };
   var title_IAC={
    text:'交流电流IAC'
   };

   var tooltip = {
      pointFormat: '{series.name}:<b>{point.percentage:.1f}%</b>'
   };
   var plotOptions = {
      pie: {
         allowPointSelect: true,
         cursor: 'pointer',
         dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>:{point.percentage:.1f} %',
            style: {
               color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
            }
         }
      }
   };
   var series= [{
      type: 'pie',
      name: 'Browser share',
      data: [
         {
            name: '合格',
            y: 12.8,
            sliced: true,
            selected: true
         },
         ['不合格',   0.7]
      ]
   }];

   var series_VAC= [{
      type: 'pie',
      name: 'Browser share',
      data: [
         {
            name: '合格',
            y: 10.8,
            sliced: true,
            selected: true
         },
         ['不合格',   0.7]
      ]
   }];       


  var series_IDC= [{
      type: 'pie',
      name: 'Browser share',
      data: [
         {
            name: '合格',
            y: 10.8,
            sliced: true,
            selected: true
         },
         ['不合格',   0.75]
      ]
   }];      


  var series_IAC= [{
      type: 'pie',
      name: 'Browser share',
      data: [
         {
            name: '合格',
            y: 10.8,
            sliced: true,
            selected: true
         },
         ['不合格',   0.6]
      ]
   }];       

      
   var json = {}; 
   var json_VAC = {};
   var json_IDC = {};  
   var json_IAC = {};
   json.chart = chart; 
   json.title = title;     
   json.tooltip = tooltip;  
   json.series = series;
   json.plotOptions = plotOptions;

   json_VAC.chart=chart;
   json_VAC.title=title_VAC;
   json_VAC.tooltip = tooltip;
   json_VAC.series=series_VAC;
   json_VAC.plotOptions = plotOptions;

   json_IDC.chart=chart;
   json_IDC.title=title_IDC;
   json_IDC.tooltip = tooltip;
   json_IDC.series=series_IDC;
   json_IDC.plotOptions = plotOptions;


   json_IAC.chart=chart;
   json_IAC.title=title_IAC;
   json_IAC.tooltip = tooltip;
   json_IAC.series=series_IAC;
   json_IAC.plotOptions = plotOptions;

   $('#container_IDC').highcharts(json_IDC);  
   $('#container_IAC').highcharts(json_IAC);  
   $('#container_VDC').highcharts(json);  
   $('#container_VAC').highcharts(json_VAC);  
});
</script>

<script language="JavaScript">

var ndata=new Array();

nndata=[11.80007969
,11.7060846
,12.25682948
,11.82774261
,10.84977879
,12.15704791
,12.04015328
,12.03049536
,11.78687374
,12.42614874
,11.5805736
,12.45266825
,12.12516084
,12.0462549
,12.41806652
,11.18648573
,12.7177372
,11.81638803
,11.48843306
,11.77586995
,12.46344285
,12.99244498
,11.78424567
,12.27505221
,11.49900521
,12.13418148
,12.59054291
,12.06713944
,12.3808259
,12.26753723
,12.08794505
,11.97829673
,12.46664773
,12.58905189
,11.99792199
,11.58757289
,11.56370948
,12.21483183
,12.55969358
,11.72412588
,12.38624185
,11.84944652
,11.96276701
,10.85571742
,11.51360096
,11.58419357
,13.25286897
,10.98314345
,12.21363303
,12.62258277
,12.06955615
,11.91300929
,12.1649506
,11.24695694
,12.04844751
,11.9285008
,12.76332617
,12.02693459
,11.7576956
,12.17409984
,11.53407932
,12.29273569
,11.59872821
,12.49387581
,11.57086984
,10.71356704
,12.50477774
,12.25298095
,11.8576478
,11.94079317
,12.26648104
,13.8565217
,10.39214724
,12.59429149
,11.11107625
,12.19263198
,11.95322942
,11.92672965
,10.97479065
,11.70873687
,11.23121395
,11.98361145
,13.06713123
,11.2029876
,12.26917087
,12.50368526
,12.67327637
,12.51692241
,11.96040506
,12.95023788
,11.65836923
,11.76056179
,12.27234837
,12.42226711
,11.6374363
,12.02693459
,11.58571643
,11.58779699
,12.00340606
,11.77345451
];
for(i=0;i<nndata.length;i++){
 ndata[i]=new Array();
 ndata[i][0]=nndata[i];
 ndata[i][1]=i;
}
data=[];
data=ndata;
/**
 * Get histogram data out of xy data
 * @param   {Array} data  Array of tuples [x, y]
 * @param   {Number} step Resolution for the histogram
 * @returns {Array}       Histogram data
 */
function histogram(data, step) {
    var histo = {},
        x,
        i,
        arr = [];

    // Group down
    for (i = 0; i < data.length; i++) {
        x = Math.floor(data[i][0] / step) * step;
        if (!histo[x]) {
            histo[x] = 0;
        }
        histo[x]++;
    }

    // Make the histo group into an array
    for (x in histo) {
        if (histo.hasOwnProperty((x))) {
            arr.push([parseFloat(x), histo[x]]);
        }
    }

    // Finally, sort the array
    arr.sort(function (a, b) {
        return a[0] - b[0];
    });

    return arr;
}

Highcharts.chart('container_Hist', {
    chart: {
        type: 'column'
    },
    title: {
        text: '概率分布'
    },
    xAxis: {
        gridLineWidth: 1,
         title: {
            text: '测量值区间'
        }
    },
    yAxis: [{
        title: {
            text: '统计次数'
        }
    }, {
        opposite: true,
        title: {
            text: 'Y value'
        }
    }],
    series: [{
        name: 'Histogram',
        type: 'column',
        data: histogram(data, 0.05),
        pointPadding: 0,
        groupPadding: 0,
        pointPlacement: 'between'
    }, {
        name: 'XY data',
        type: 'scatter',
        data: data,
        yAxis: 1,
        marker: {
            radius: 1.5
        }
       },{
        name: 'Curve',
         type:'line',
         data:histogram(data, 0.05),
         pointPlacement: 'between',
          lineWidth: 3,
          color:'#29cb81',
          fillColor: 'white',
         //pointInterval: 0.3 // one hour
       }]
});
</script>
</body>

</html>